/* ---------- box-sizing and resets ------------- */

*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
}

/* ---------- start writing here ------------- */

body {
    background-color: #333;
    display: grid;
    place-items: center;
}

.form-group {
    background-color: rgb(250, 116, 67);
    display: flex;
    flex-direction: column;
    width: max(200px, 40vw);
    padding: 0.8em;
    border-radius: 5px;

    animation: hide 250ms ease-in-out forwards;
}

.group-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

#seat-map {
    padding: 1rem;
}

#seat-map .cell {
    display: block;
    aspect-ratio: 1;
    background-color: rgb(37, 121, 255);
    border-radius: 50%;
}

#seat-map .cell.selected {
    background-color: green;
}

.form-group.active {
    animation: active 250ms ease-in-out forwards;
}

.form-group.hide {
    display: none;
}

.data-container {
    width: 90%;
    height: 80%;
    background-color: rgb(250, 116, 67);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.data-container :is(table, tr) {
    width: 100%;
}

.data-container table {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.data-container thead {
    flex-grow: 0;
}

.data-container tbody {
    flex-grow: 2;
}

.data-container tr {
    display: flex;
    flex-direction: row;
}

.data-container :is(td, th) {
    flex: 0 0 30%;
}

.data-container button {
    width: fit-content;
    padding: 0.4rem 1rem;
}

@keyframes hide {
    from {
        opacity: 1;
        transform: scale(1) translateX(0);
    }
    to {
        opacity: 0;
        transform: scale(0) translateX(-50%);
    }
}

@keyframes active {
    from {
        opacity: 0;
        transform: translateX(-50%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
